@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
#wrap{
    width: 600px;
    /* border: 1px solid #666666; */
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
}
body{
    font-size: large;
    font-family:'Sawarabi Gothic', sans-serif;
}
a {
    text-decoration: none;
    color:#20414e;
}
a:hover{
    font-weight: bold;
    text-decoration: underline;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    /* color:dimgray; */
}
.img-box {
    margin:0 auto;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-image: url("../images/profile.jpeg");
    background-position: 60% 80%;
    /* border: solid 1px rgb(252, 251, 250); */
}
.main{
    border: 1px solid #666666;
    padding: 12%;
    border-radius: 15px;
}